@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
button img {
    width: 5em;
    margin: auto;
}

section {
    padding: 100px 700px 10px 700px;
}

#calendar {
    box-sizing: unset;
}

#placeEvent {
    display: none;
}

#eventpoint {
    position: relative;
    top: 10px;
    right: 10px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000000
}

body {
    background-color: rgb(155, 155, 155);
}

table td:hover {
    background-color: #fff;
    background-color: none !important;
}


/*CODES COULEURS EVENTS*/

.eventDiv {
    width: 15px;
    height: 15px;
}

.anniversary {
    background-color: red;
    width: 10px;
    height: 10px;
}

.professionnal {
    background-color: blue;
}

.familial {
    background-color: green;
}

.hobbies {
    background-color: orange;
}